html
        {
            font-size: larger;
        }
        body
        {
            background-color: black;
            color: whitesmoke;
        }
        a
        {
            color: gray;
        }